/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@font-face {
font-family: "SuisseIntl-Regular";
src: url("fonts/SuisseIntl-Regular.otf") format("opentype");
}

@font-face {
font-family: "SuisseIntl-Light";
src: url("fonts/SuisseIntl-Light.otf") format("opentype");
}


a{
	color: white;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

#pnav{
	color: white;
}

h1{
	font-family: "SuisseIntl-Regular";
}


body{
	border: 0px solid pink;
	font-family: sans-serif;
	background-color: #000000;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: vh;
}


#conteneur{
	border: px solid blue;
	display: flex;
	justify-content: space-between;

	font-family: "SuisseIntl-Regular";

	padding-top: 2%;
	width: 90%;
	margin: auto;
	height: 80vh;
}

video{
	width: 100%;
}




nav{
	border: 0px solid blue;
	display: flex;
	justify-content: space-between;
	color: white;
	font-family: "SuisseIntl-Light";
	align-items: center;

	width: 97%;      
	margin-top: 1.5%;
	margin-bottom: 1.5%;
	font-size: 1.1rem;
}

/************************* ARTICLE TXT ****************************/

#articlegauche{
	width: 48%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#articledroit{
	border:px solid purple;
	width: 40%;
	display: flex;
	flex-direction: column;
}


#avatar{
	border: 1px solid white;
	width: 60%;
	margin-top: auto;
}


#title{
	border: 0px solid red;
	font-family: "SuisseIntl-Regular";
	font-size: 1.6rem;
	color: white;
}

p{
	color: white;
	font-family: "SuisseIntl-Light";
}

#mail{
	text-decoration: underline;
}



#presentation{
	border: px solid yellow;
	padding-bottom: 10%;
	font-size: 1.8rem;
}

#cv{
	border: px solid red;
	margin-top: auto;
}

#textcontact{
	line-height: 130%;
}




footer{
	display: flex;
	flex-direction: column; /* empile verticalement */
	align-items: center;
	border: 0px solid white;
	color: white;
	width: 100%;

	padding-top: 10%;
	padding-bottom: 10%;
}







@media only screen and (max-width: 600px) {

  #conteneur {
    flex-direction: column;
    height: auto;
  }

  #articlegauche,
  #articledroit {
    width: 100%;
  }

  /* Réorganisation des éléments */
  #presentation {
    order: 2;
  }

  #contact {
    order: 3;
  }

  #cv {
    order: 4;
  }

  #avatar {
    order: 1;
    width: 100%;
    margin-top: 10%;
  }

  /* Important : on "déplie" les articles */
  #articlegauche,
  #articledroit {
    display: contents;
  }

	#presentation, #contact, #cv, #avatar {
  	margin-bottom: 12%;
  	margin-top: 3%;
	}

	nav{
  		padding-top: 3%;
		width: 90%;      
	}

	#ortho{
		display: none;
	}
}











