/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@font-face {
font-family: "Agrandir";
src: url("fonts/Agrandir.ttf") format("truetype");

font-family: "VremenaGroteskBook"
src: url("fonts/VremenaGroteskBook.otf") format("opentype");

font-family: "VremenaGrotesk"
src: url("fonts/VremenaGrotesk.otf") format("opentype");
}

body{
	font-family: sans-serif;
	background-color: #F2F2F2;
}

#conteneur{
	border: 0px solid black;

	width: 95%;
	margin: auto;
	margin-top: 1.5%;
}

#selected{
	text-decoration: underline;
}

a{
	text-decoration: none;
	color: black;
}

a:hover{
	text-decoration: underline;
}

header{

	font-size: 0.85em;
	width: 100%;
	display: flex;

	border: 0px solid red;

	justify-content: space-between;
	font-family: VremenaGroteskBook, sans-serif;
}

	#navsections{
		width: 40%;
		display: flex;
		justify-content: space-between;
		z-index: 4;
	}

	#logotitre{
		border: 0px solid blue;
	}

	#navsections{
		border: 0px solid blue;
	}

/***********************   FIN  HEADER     ********************************/

#liendesc{
	font-weight: bold;
}

p{
	font-size: 0.85em;
	line-height: 1.3;
}

#contenuabout{
	border: 0px solid black;
	margin-top: 3%;
	display: flex;
	justify-content: space-between;
}

#block1, #block2, #block3{
	border: 0px solid black;
	width: 25%;

}

#articletitle{
	font-family: Agrandir;
	font-size: 1.90em;
	font-variation-settings: "wght" 469, "wdth" 170;
	padding-bottom: 5%;
}

#article2{
	margin-top: 12%;
}

#scrolltoseemore{
	margin-top: -7%;
	margin-bottom: 7%;
	font-size: 0.7em;
}

#txtarticle2{

	height: 275px;
	overflow: scroll;
	border: 0px solid black;

}

img{
	width: 100%;
}

#photoprofil{
	margin-top: 12%;
}

#txtarticle3{

	display: flex;
	justify-content: space-between;
	overflow: scroll;
	border: 0px solid black;

}

#skills2{
	margin-right: 10%;
}






/***********************   FIN  CONTENU    ********************************/

footer{

	font-size: 0.85em;
	border: 0px solid red;
	position: fixed;
	bottom: 2%;
	width: 100%;
	font-family: VremenaGroteskBook, sans-serif;
}

marquee{
	border: 0px solid blue;
	mix-blend-mode: difference;
}











































































@media only screen and (max-width: 600px) {


header{
	font-size: 0.85em;
	width: 94%;
	display: flex;
	border: 0px solid red;
	justify-content: space-between;
	font-family: VremenaGroteskBook, sans-serif;
	border: 0px solid black;
	position: fixed;
}



#navsections{
		width: 66%;
		display: flex;
		justify-content: space-between;
		border: 0px solid blue;
}

/**********************FIN HEADER**********************/



#txtarticle2{

	height: 100%;
	overflow: scroll;
	border: 0px solid black;

}

#scrolltoseemore{
	opacity: 0;
}




#liendesc{
	font-weight: bold;
}

p{
	font-size: 0.85em;
	line-height: 1.3;
}

#contenuabout{
	border: 0px solid black;
	margin-top: 3%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 10%;
	width: 95%;
	margin: auto;
}

#block1, #block2{
	border: 0px solid black;
	width: 100%;
	margin-top: 10%;

}

 #block3{
	border: 0px solid black;
	width: 100%;
	margin-top: 10%;
	margin-bottom: 15%;

}

#articletitle{
	font-family: Agrandir;
	font-size: 1.90em;
	font-variation-settings: "wght" 469, "wdth" 170;
	padding-bottom: 5%;
}

#article2{
	margin-top: 12%;
}

img{
	width: 100%;
}









/**********************FIN CONTENEUR**********************/

footer{
	font-size: 0.85em;
	border: 0px solid red;
	position: fixed;
	width: 100%;
	font-family: VremenaGroteskBook, sans-serif;
}

marquee{
	border: 0px solid blue;
	mix-blend-mode: difference;
}




}





