/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@font-face {
font-family: "SuisseBook"
src: url("fonts/SuisseIntl-Book.otf") format("opentype");

font-family: "SuisseRegular"
src: url("fonts/SuisseIntl-Regular.otf") format("opentype");
}

body{
	color: white !important;
	font-family: SuisseRegular, sans-serif;
	background-color: black;

}

#conteneur{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 90vh;
	padding-top: 5%;
}


nav{
	border: 0px solid blue;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 17vh;
	margin-bottom: 20%;
}

a{
	font-size: 1.3em;
	text-align: center;
	border: 0px solid white;
	color: white;
	text-decoration: underline;
	font-family: SuisseRegular, sans-serif;
}

img{
	border: 0px solid red;
	width: 30%;
	margin: auto;
	padding-top: 25%;
	padding-bottom: 5%;


}



footer{
	line-height: 23px;
	border: 0px solid black;
	width: 90%;
	margin: auto;
	margin-top: 40%;
	bottom: 0px;
	font-size: 0.9em;
	text-align: center;
	font-family: SuisseRegular, sans-serif;
}

























