/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@font-face {
font-family: "Agrandir";
src: url("fonts/Agrandir.ttf") format("truetype");

font-family: "VremenaGroteskBook"
src: url("fonts/VremenaGroteskBook.otf") format("opentype");

font-family: "VremenaGrotesk"
src: url("fonts/VremenaGrotesk.otf") format("opentype");
}

body{
	font-family: sans-serif;
	background-color: #F2F2F2
}

#conteneur{
	border: 0px solid black;
	width: 95%;
	margin: auto;
	margin-top: 1.5%;
}

#selected{
	text-decoration: underline;
}

a{
	text-decoration: none;
	color: black;
	font-family: sans-serif;
}

a:hover{
	text-decoration: underline;
}

header{
	font-size: 0.85em;
	width: 100%;
	display: flex;
	border: 0px solid red;
	justify-content: space-between;
	font-family: VremenaGroteskBook, sans-serif;
}

	#navsections{
		width: 40%;
		display: flex;
		justify-content: space-between;
	}

	#logotitre{
		border: 0px solid blue;
	}

	#navsections{
		border: 0px solid blue;
	}



#landing{
	border: 0px solid black;
	width: 100%;
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#landingtextbox{
	font-family: Agrandir;
	font-variation-settings: "wght" 469, "wdth" 170;

}

#landingtext{
	font-family: Agrandir;
	font-size: 2.3em;
	font-variation-settings: "wght" 469, "wdth" 170;
	border: 0px solid black;
	width: 65%;
}

#landingtext2{
	font-family: Agrandir;
	font-size: 1.5em;
	font-variation-settings: "wght" 469, "wdth" 170;
	border: 0px solid black;
	width: 55%;
	margin-top: 3%;
}

#selectedlanding{
	font-family: Agrandir;
	font-variation-settings: "wght" 469, "wdth" 170;
	text-decoration: underline;
}



#backcircle{
	width: 25%;
	position: absolute;
	border: 0px solid yellow;
	top: 25.5%;
	right: 30%;
	z-index: -1;
}

footer{
	font-size: 0.85em;
	border: 0px solid red;
	position: fixed;
	bottom: 2%;
	width: 100%;
	font-family: VremenaGroteskBook;
}

marquee{
	font-family: sans-serif;
	border: 0px solid blue;
	mix-blend-mode: difference;
}












































































@media only screen and (max-width: 600px) {


header{
	font-size: 0.85em;
	width: 100%;
	display: flex;
	border: 0px solid red;
	justify-content: space-between;
	font-family: VremenaGroteskBook, sans-serif;
	border: 0px solid black;
}



#navsections{
		width: 66%;
		display: flex;
		justify-content: space-between;
		border: 0px solid blue;
}




/****************FIN HEADER****************/





#landing{
	border: 0px solid black;
	width: 100%;
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#landingtextbox{
	font-family: Agrandir;
	font-variation-settings: "wght" 469, "wdth" 170;

}

#landingtext{
	font-family: Agrandir;
	font-size: 2em;
	font-variation-settings: "wght" 469, "wdth" 170;
}

#selectedlanding{
	font-family: Agrandir;
	font-variation-settings: "wght" 469, "wdth" 170;
	text-decoration: underline;
}

  

#backcircle{
	width: 100%;
	position: absolute;
	border: 0px solid yellow;
	top: 25%;
	margin-right: -80%;
	z-index: -1;
}







}

























