/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@font-face {
font-family: "SuisseBook";
src: url("fonts/SuisseIntl-Book.otf") format("opentype");

font-family: "SuisseRegular";
src: url("fonts/SuisseIntl-Regular.otf") format("opentype");
}

body{
	color: white !important;
	background-color: black;
	font-family: SuisseRegular, sans-serif;
	font-size: 0.9em;

}

#conteneur{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 90%;
	margin: auto;
	border: 0px solid red;
}

nav{

	border: 0px solid blue;
	margin-top: 10%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 15%;
}








#selected{
	text-decoration: underline;
}

a{
	text-decoration: none;
	color: white;
	font-family: sans-serif;
}

a:hover{
	text-decoration: underline;
}






#contenu{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	border: 0px solid red;
	margin-bottom: 20%;
}



#projtitle{
	font-family: SuisseBook, sans-serif;
	font-size: 1.7em;
}


#projtext{
	border: 0px solid blue;
	margin-top: 10%;
	font-family: SuisseBook, sans-serif;
	line-height: 1.3;

}

#projtype{
	font-family: SuisseBook, sans-serif;
	color: grey;
	margin-top: 1%;
}




#imgbox{
	width: 100%;
	margin-top: 10%;

	border: 0px solid blue;
}

#imgbox2{
	width: 100%;
	border: 0px solid blue;
}

img{
	width: 100%;
	/*margin-top: -0.4%;*/
	margin-top: 5%;
}

#imgborder{
	border:  1px solid white;
}

iframe{
	width: 100%;
	height: auto;
	border: 0px solid blue;
}

#nolink{
	text-decoration: line-through;
}



#textboxmargin{
	margin-top: 15%;
	border: 0px solid blue;
}


footer{
	border: 0px solid orange;
	width: 90%;
	font-family: SuisseBook, sans-serif;
	color: white;
	display: flex;
	justify-content: space-between;
	position: fixed;
	bottom: 2%;
}























































































